<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="/public/admin/css/pintuer.css">
    <link rel="stylesheet" href="/public/admin/css/admin.css">
    <script src="/public/admin/js/jquery.js"></script>   
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="/public/admin/images/adminPicture.png" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="login.html"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>基本设置</h2>
  <h2><span class="icon-list"></span>进货管理</h2>
  <ul>
    <li><a href="purchase/purchase" target="right"><span class="icon-caret-right"></span>采购进货</a></li>
    <li><a href="purchase/return" target="right"><span class="icon-caret-right"></span>采购退货</a></li>
    <li><a href="admin/purchase/searcg" target="right"><span class="icon-caret-right"></span>当前库存查询</a></li>
    <li><a href="admin/purchase/receipt" target="right"><span class="icon-caret-right"></span>采购单据查询</a></li>
  </ul>
  <h2><span class="icon-list"></span>销售管理</h2>
  <ul>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>商品销售</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>顾客退货</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>当前库存查询</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>销售单据查询</a></li>
  </ul>
  <h2><span class="icon-list"></span>库存管理</h2>
  <ul>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>库存盘点</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>库存变动</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>库存调拨</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>报损报溢</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>库存报警</a></li>
  </ul>
  <h2><span class="icon-list"></span>统计报表</h2>
  <ul>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>日销售报表</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>月销售报表</a></li>
  </ul>
    <h2><span class="icon-list"></span>系统设置</h2>
  <ul>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>商品管理</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>仓库设置</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>员工设置</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>会员管理</a></li>
    <li><a href="/admin/admin" target="right"><span class="icon-caret-right"></span>管理员管理</a></li>   
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>供应商管理</a></li> 
  </ul>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="/public/admin/welcome.html" name="right" width="100%" height="100%"></iframe>
</div>

</body>
</html>