<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span ></span> 修改管理员信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label for="sitename">管理员帐号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="username" id="username" value="<%= data.username%>"readonly size="50" placeholder="请输入账号" data-validate="required:请输入账号,length#>=4:账号不能小于4位,length#<=8:账户不能大于8位"/>
        </div>
      </div>     

      <div class="form-group">
        <div class="label">
          <label for="sitename">电话号码：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="mtel" name="tel" size="50" value="<%= data.tel%>" placeholder="请输入电话号码" data-validate="required:请输入电话号码,length#==11:请输入11位手机号" />       
        </div>
      </div>   

      <div class="form-group">
        <div class="label">
          <label for="sitename">输入密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="mpass" name="password" size="50" placeholder="请输入密码" data-validate="length#>=6:密码长度不能小于8位,length#<=12:密码长度不能大于12位" />    
          <input type="hidden" name="id" value="<%= data.id%>">   
        </div>
      </div>   

      <div class="form-group">
        <div class="label">
          <label for="sitename">确认密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="repassword" size="50" placeholder="请再次输入密码" data-validate="repeat#password:两次输入的密码不一致" />          
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename">用户类型：</label>
        </div>
        <div class="field">
          <select name="permission" id="permission" >
            <option value="全部" >全部</option>
            <option value="进货">进货</option>
            <option value="销售">销售</option>
            <option value="库存">库存</option>
           </select>       
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
<script type="text/javascript">
  $("#permission").val("<%= data.permission%>");
</script>
</body>
</html>