
 <!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span ></span> 修改商品采购信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">

      <div class="form-group">
        <div class="label">
          <label for="sitename">商品编号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50"  name="id" id="id" size="50" value="<%= data.identy%>" readonly/>
          <input type="hidden" name="id" value="<%= data.id%>">
          <input type="hidden" name="depot" value="<%= data.depot%>">
          <input type="hidden" name="num" value="<%= data.num%>">
          <label for="sitename" style="padding-left: 20px;" class="label">商品名称:</label>
          <input type="text" class="input w50" name="name" id="name" size="50" value="<%= data.name%>" readonly />
        </div>
      </div> 

 

      <div class="form-group">
        <div class="label">
          <label for="sitename">进价(元)：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="<%= data.price%>" name="price" size="50" />      

          <label for="sitename" style="padding-left: 20px;" class="label">采购件数:</label>
          <input type="text" class="input w50" name="enum" id="enum" size="50" value="<%= data.num%>" placeholder="请输入采购件数，只能是数字" oninput = "value=value.replace(/[^\d]/g,'')" /> 
        </div>
      </div>   


       <div class="form-group">
        <div class="label">
          <label for="sitename">规格：</label>
        </div>
        <div class="field">
           <input type="text" class="input w50"  name="gsize" size="50" value="<%= data.gsize%>" placeholder="请输入商品规格" data-validate="required:请输入商品规格" />

           </select> 
         </div>
      </div>   
    

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body>
</html>