
 <!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span ></span> 修改退货信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label for="sitename">商品名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50"  name="name" id="name" size="50" value="<%= data.name%>" readonly/>
          <input type="hidden" name="id" value="<%= data.id%>">
        </div>
      </div>     

      <div class="form-group">
        <div class="label">
          <label for="sitename">进价(元)：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="<%= data.price%>" readonly name="price" size="50" />       
        </div>
      </div>   

      <div class="form-group">
        <div class="label">
          <label for="sitename">退货价(元)：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="<%= data.rprice%>" name="rprice" size="50" />       
        </div>
      </div>   

      <div class="form-group">
        <div class="label">
          <label for="sitename">存放仓库：</label>
        </div>
        <div class="field">
          <select name="depot" id="depot">
            <option value="主仓库">主仓库</option>
            <option value="次仓库">次仓库</option>
           </select>       
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename">退货件数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50"  name="num" size="50" value="<%= data.num%>" />       
        </div>
      </div>  

       <div class="form-group">
        <div class="label">
          <label for="sitename">退货原因：</label>
        </div>
        <div class="field">
          <select name="rtype" id="rtype">
            <option value="破损">破损</option>
            <option value="质量问题">质量问题</option>
            <option value="其他">其他</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
<script type="text/javascript">
  $("#depot").val("<%= data.depot%>");

  $("#rtype").val("<%= data.rtype%>");

</script>
</body>
</html>